<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGINA `PRINCIPAL</title>
</head>
<body>
 
    <h1 style="color: rgb(255, 0, 85);">A QUE FORMULARIO QUIERES IR?</h1>
    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/actividad_form">Actividad</a></p>
    
    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/aparato_form">Aparatos</a></p>

    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/clase_form">Clases</a></p> 
    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/clase_socio_form">Clase-Socio</a></p>
    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/entrenador_actividad_form">Entrenador-Actividad</a></p>
    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/entrenador_form">Entrenador</a></p>
    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/sala_form">Salas</a></p>
    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/socio_actividad_form">Socio-Actividad</a></p>
    <p><a style="background: rgb(25, 150, 112); 
    color: black; position: relative;    
    font-size: 20px; left: 70px;
    text-decoration: none;" href="../gyms/socio_form">Socio</a></p>
    
    
</body>
</html> 